div class="container">
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">{{ __('Dashboard') }}
                <div class="float-right">
                    <a href="{{ route('categories')}}">
                        <button type="submit" class="btn btn-primary mb-2 ">Add Category</button>
                    </a>
                    <a href="#">
                        <button type="submit" onclick="alert('start adding');" class="btn btn-primary mb-2 ">Add
                            Product</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>